html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    margin:0;
}

.background {
    background: rgb(49,193,198);
    width: 80%;
}

.spacer {
    height: 10px;
    margin: 0px auto;
    
}

#confirm {
    position: absolute;
    margin: auto;
    border: 3px solid tomato;
    border-radius: 16px;
    width: 40%;
    height: 90px;
    background: rgb(66,241,244);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu_bar {
    height: 33px;
    margin: auto;
    text-align: center;
    display: inline-block;
}

input {
    margin: 0px 5px;
}

#n-chairs {
    width: 40px;
}
#p-name {
    width: 90px;
}

.menu_item {
    margin: auto;
    width: 50%;
    /*height: 100%;*/
    float: left;
    display: inline-block;
}

canvas {
    z-index: -1;
    display: block;
}