@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    margin:0;
}

.background {
    background: #0097e6;
    width: 100%;
}

.spacer {
    height: 10px;
    margin: 0px auto;
    
}

#confirm {
    position: absolute;
    margin: auto;
    border: 3px solid tomato;
    border-radius: 16px;
    width: 40%;
    height: 90px;
    background: rgb(66,241,244);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#menu_bar {
    padding: 10px 0;
    margin: auto;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_bar p {
    float: left;
    margin: auto 0px;
    font-size: 20px;
    user-select: none;
}

.menu_item input {
    margin-left: 5px;
    margin-right: 50px;
    /*margin: 0px 30px;*/
    background: #192a56;
    border-radius: 10px;
    padding: 4px;
    color: #ffffff;
    border: 0;
    font-size: 16px;
}

#n-chairs {
    width: 40px;
    float: left;
}

#p-name {
    width: 200px;
    float: left;
}

.menu_item button {
    float: left;
    background-color: #192a56;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    padding: 4px 6px;
    font-size: 16px;
    user-select: none;
}

.menu_item button i {
    margin-left: 10px;
    transition: 400ms;
}

.menu_item button:hover {
    background-color: #273c75;
}

.menu_item button:hover i {
    transform: rotate(180deg);
}

.menu_item button:active {
    background-color: #40739e;
}

.menu_item {
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3%;
}

#sketch-holder {
    width:100%;
    height:100%;
    position: relative;
    flex-grow: 1;
}

.chair-input:hover {
    background-color: #718093;
}

.chair-input:focus {
    background-color: #7f8fa6;
}

.chair-input {
    height: 150px;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #353b48;
    color: #fff;
}

.table:hover {
    background-color: #f5f6fa
}

.table {
    height: 150px;
    width: inherit;
    background-color: #dcdde1;
    border: 3px solid #000000;
    padding: 0;
    margin: 0;
}

.chair-holder {
    display: table;
    border: 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: 10px;
}

#table-div {
    position: absolute;
    transform-origin: 0% 0%;
}

canvas {
    z-index: -1;
    display: block;
}