<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Table Placement</title>

        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.js"></script>
        <script src="/static/sketch.js"></script>
        <script src="/static/chair.js"></script>
    </head>
    <body>
        <div class="background spacer"></div>
        <div id="menu_bar" class="background">
            <div class="menu_item">Number of chairs: <input type="text" id="n-chairs">
            </div>
            <div class="menu_item">Project name: <input type="text" id="p-name"
            {% if project_name %} value= {{project_name}} > {% else %} > {% endif %}
            <button id="update">Update project</button>
            </div>
        </div>
        <div id="confirm">
            <div id="confirm-text"><p>Hello</p></div>
            <div id="confirm-button">
                <button type="button"> Ok </button>
                <button type="button"> Cancel </button>
            </div>
        </div>
        <div id="sketch-holder"> </div>
    </body>
</html>