<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131759993-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-131759993-2');
        </script>
        
        <title>Table Placement</title>

        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
        
        <script src="/static/sketch.js"></script>
        <script src="/static/chair.js"></script>
        <script src="/static/vector.js"></script>
    </head>
    <body onload="javascript:setup()">
        <div style="height: 100%; width:100%; display: flex; flex-flow: column;">
            <div id="menu_bar" class="background">
                <div id="left-item" class="menu_item">
                    <input type="text" id="p-name" placeholder="Project Name"
                    {% if project_name %}
                        value= "{{ project_name }}" >
                    {% else %}
                        >
                    {% endif %}
                    
                </div>
                <div id="right-item" class="menu_item">                
                    <p>Number of chairs:</p>
                    <input type="text" id="n-chairs">
                    <button id="update">Update Project<i class="fas fa-sync"></i></button>
                </div>
            </div>
            <div id="confirm">
                <div id="confirm-text"><p>Hello</p></div>
                <div id="confirm-button">
                    <button type="button"> Ok </button>
                    <button type="button"> Cancel </button>
                </div>
            </div>
            <div id="sketch-holder">
                <div id="table-div">
                    <div id="scale-div">
                        <div id="chairs-above" class="chair-holder"></div>
                        <div id="table-box" class="table"></div>
                        <div id="chairs-below" class="chair-holder"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>