<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Table Placement</title>

        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.js"></script>
        <script src="/static/sketch.js"></script>
        <script src="/static/chair.js"></script>
        <script src="/static/conferm.js"></script>
    </head>
    <body>
        <div id="menu_bar"></div>
        <div id="sketch-holder"> </div>
    </body>
</html>